### Opportunity Data

In [2]:
# Query all Opportunity records
query = "SELECT Id, Opportunity_Number_Auto__c, Name, Membership_Start_Date__c, Membership_Expiration_Date__c, StageName, Membership_Location__c, CloseDate, Amount, Term_Length__c, \
            Payment1__c, Payment_Method__c, Payment_Completed_Date__c, Payment2__c, Payment_2_Method__c, Payment_2_Completed_Date__c, Payment_Notes__c, \
            ADHOC_1_Payment_Amount__c, ADHOC_1_Payment_Date__c, ADHOC_1_Payment_Method__c, ADHOC_2_Payment_Amount__c, ADHOC_2_Payment_Date__c, ADHOC_2_Payment_Method__c, ADHOC_3_Payment_Amount__c, ADHOC_3_Payment_Date__c, ADHOC_3_Payment_Method__c, ADHOC_4_Payment_Amount__c, ADHOC_4_Payment_Date__c, ADHOC_4_Payment_Method__c, ADHOC_5_Payment_Amount__c, ADHOC_5_Payment_Date__c, ADHOC_5_Payment_Method__c, ADHOC_6_Payment_Amount__c, ADHOC_6_Payment_Date__c, ADHOC_6_Payment_Method__c, \
            AccountId, IsDeleted, LastModifiedDate, CreatedDate \
        FROM Opportunity"
opportunities = sf.query_all(query)['records']

# Create a list of dictionaries to hold Opportunity data
opportunity_data = []

# Collect data
for opp in opportunities:
    opportunity_data.append({
        'Id': opp['Id'],
        'Opportunity_Number_Auto__c': opp['Opportunity_Number_Auto__c'],
        'Name': opp['Name'] ,
        'Membership_Start_Date__c' : opp['Membership_Start_Date__c'],
        'Membership_Expiration_Date__c' : opp['Membership_Expiration_Date__c'], 
        'Stage': opp['StageName'],
        'Membership_Location__c' : opp['Membership_Location__c'],
        'Close Date': opp['CloseDate'],
        'Amount': opp['Amount'],
        'Term_Length__c' : opp['Term_Length__c'],
        'Payment1__c' : opp['Payment1__c'],
        'Payment_Method__c' : opp['Payment_Method__c'],
        'Payment_Completed_Date__c' : opp['Payment_Completed_Date__c'],
        'Payment2__c' : opp['Payment2__c'],
        'Payment_2_Method__c' : opp['Payment_2_Method__c'],
        'Payment_2_Completed_Date__c' : opp['Payment_2_Completed_Date__c'],
        'Payment_Notes__c' : opp['Payment_Notes__c'],
        'ADHOC_1_Payment_Amount__c' : opp['ADHOC_1_Payment_Amount__c'],
        'ADHOC_1_Payment_Date__c' : opp['ADHOC_1_Payment_Date__c'],
        'ADHOC_1_Payment_Method__c' : opp['ADHOC_1_Payment_Method__c'],
        'ADHOC_2_Payment_Amount__c' : opp['ADHOC_2_Payment_Amount__c'],
        'ADHOC_2_Payment_Date__c' : opp['ADHOC_2_Payment_Date__c'],
        'ADHOC_2_Payment_Method__c' : opp['ADHOC_2_Payment_Method__c'],
        'ADHOC_3_Payment_Amount__c' : opp['ADHOC_3_Payment_Amount__c'],
        'ADHOC_3_Payment_Date__c' : opp['ADHOC_3_Payment_Date__c'],
        'ADHOC_3_Payment_Method__c' : opp['ADHOC_3_Payment_Method__c'],
        'ADHOC_4_Payment_Amount__c' : opp['ADHOC_4_Payment_Amount__c'],
        'ADHOC_4_Payment_Date__c' : opp['ADHOC_4_Payment_Date__c'],
        'ADHOC_4_Payment_Method__c' : opp['ADHOC_4_Payment_Method__c'],
        'ADHOC_5_Payment_Amount__c' : opp['ADHOC_5_Payment_Amount__c'],
        'ADHOC_5_Payment_Date__c' : opp['ADHOC_5_Payment_Date__c'],
        'ADHOC_5_Payment_Method__c' : opp['ADHOC_5_Payment_Method__c'],
        'ADHOC_6_Payment_Amount__c' : opp['ADHOC_6_Payment_Amount__c'],
        'ADHOC_6_Payment_Date__c' : opp['ADHOC_6_Payment_Date__c'],
        'ADHOC_6_Payment_Method__c' : opp['ADHOC_6_Payment_Method__c'],
        'AccountId' : opp['AccountId'],
        'IsDeleted' : opp['IsDeleted'],
        'LastModifiedDate' : opp['LastModifiedDate'],
        'CreatedDate' : opp['CreatedDate'],
    })

# Convert list of dictionaries to a DataFrame
opportunities_df = pd.DataFrame(opportunity_data)

opportunities_df = opportunities_df.rename(columns={'Id': 'Salesforce Opportunity ID'})
opportunities_df = opportunities_df.rename(columns={'Opportunity_Number_Auto__c': 'Opportunity ID'})
opportunities_df = opportunities_df.rename(columns={'Stage': 'Opportunity Stage'})
opportunities_df = opportunities_df.rename(columns={'Membership_Start_Date__c': 'Membership Start Date'})
opportunities_df = opportunities_df.rename(columns={'Membership_Expiration_Date__c': 'Membership End Date'})
opportunities_df = opportunities_df.rename(columns={'Membership_Location__c': 'Membership Location'})
opportunities_df = opportunities_df.rename(columns={'Term_Length__c': 'Opportunity Term Length (Years)'})
opportunities_df['Opportunity Term Length (Months)'] = opportunities_df['Opportunity Term Length (Years)'] * 12
opportunities_df = opportunities_df.rename(columns={'Close Date': 'Opportunity Close Date'})
opportunities_df = opportunities_df.rename(columns={'Amount': 'Opportunity Amount'})
opportunities_df = opportunities_df.rename(columns={'Payment1__c': 'Payment 1 Amount'})
opportunities_df = opportunities_df.rename(columns={'Payment_Method__c': 'Payment 1 Method'})
opportunities_df = opportunities_df.rename(columns={'Payment_Completed_Date__c': 'Payment 1 Completed Date'})
opportunities_df = opportunities_df.rename(columns={'Payment2__c': 'Payment 2 Amount'})
opportunities_df = opportunities_df.rename(columns={'Payment_2_Method__c': 'Payment 2 Method'})
opportunities_df = opportunities_df.rename(columns={'Payment_2_Completed_Date__c': 'Payment 2 Completed Date'})
opportunities_df = opportunities_df.rename(columns={'Payment_Notes__c': 'Payment Notes'})
opportunities_df = opportunities_df.rename(columns={'ADHOC_1_Payment_Amount__c': 'ADHOC Payment Amount 1'})
opportunities_df = opportunities_df.rename(columns={'ADHOC_1_Payment_Date__c': 'ADHOC Payment Date 1'})
opportunities_df = opportunities_df.rename(columns={'ADHOC_1_Payment_Method__c': 'ADHOC Payment Method 1'})
opportunities_df = opportunities_df.rename(columns={'ADHOC_2_Payment_Amount__c': 'ADHOC Payment Amount 2'})
opportunities_df = opportunities_df.rename(columns={'ADHOC_2_Payment_Date__c': 'ADHOC Payment Date 2'})
opportunities_df = opportunities_df.rename(columns={'ADHOC_2_Payment_Method__c': 'ADHOC Payment Method 2'})
opportunities_df = opportunities_df.rename(columns={'ADHOC_3_Payment_Amount__c': 'ADHOC Payment Amount 3'})
opportunities_df = opportunities_df.rename(columns={'ADHOC_3_Payment_Date__c': 'ADHOC Payment Date 3'})
opportunities_df = opportunities_df.rename(columns={'ADHOC_3_Payment_Method__c': 'ADHOC Payment Method 3'})
opportunities_df = opportunities_df.rename(columns={'ADHOC_4_Payment_Amount__c': 'ADHOC Payment Amount 4'})
opportunities_df = opportunities_df.rename(columns={'ADHOC_4_Payment_Date__c': 'ADHOC Payment Date 4'})
opportunities_df = opportunities_df.rename(columns={'ADHOC_4_Payment_Method__c': 'ADHOC Payment Method 4'})
opportunities_df = opportunities_df.rename(columns={'ADHOC_5_Payment_Amount__c': 'ADHOC Payment Amount 5'})
opportunities_df = opportunities_df.rename(columns={'ADHOC_5_Payment_Date__c': 'ADHOC Payment Date 5'})
opportunities_df = opportunities_df.rename(columns={'ADHOC_5_Payment_Method__c': 'ADHOC Payment Method 5'})
opportunities_df = opportunities_df.rename(columns={'ADHOC_6_Payment_Amount__c': 'ADHOC Payment Amount 6'})
opportunities_df = opportunities_df.rename(columns={'ADHOC_6_Payment_Date__c': 'ADHOC Payment Date 6'})
opportunities_df = opportunities_df.rename(columns={'ADHOC_6_Payment_Method__c': 'ADHOC Payment Method 6'})
opportunities_df = opportunities_df.rename(columns={'AccountId': 'Salesforce Account ID'})
opportunities_df = opportunities_df.rename(columns={'IsDeleted': 'Opportunity Deleted'})
opportunities_df = opportunities_df.rename(columns={'LastModifiedDate': 'Opportunity Last Modified Date'})
opportunities_df = opportunities_df.rename(columns={'CreatedDate': 'Opportunity Created Date'})
opportunities_df['Opportunity Created Date'] = pd.to_datetime(opportunities_df['Opportunity Created Date']).dt.date
opportunities_df['Opportunity Last Modified Date'] = pd.to_datetime(opportunities_df['Opportunity Last Modified Date']).dt.date



opportunities_df.head(3)

,Salesforce Opportunity ID,Opportunity ID,Name,Membership Start Date,Membership End Date,Opportunity Stage,Membership Location,Opportunity Close Date,Opportunity Amount,Opportunity Term Length (Years),Payment 1 Amount,Payment 1 Method,Payment 1 Completed Date,Payment 2 Amount,Payment 2 Method,Payment 2 Completed Date,Payment Notes,ADHOC Payment Amount 1,ADHOC Payment Date 1,ADHOC Payment Method 1,ADHOC Payment Amount 2,ADHOC Payment Date 2,ADHOC Payment Method 2,ADHOC Payment Amount 3,ADHOC Payment Date 3,ADHOC Payment Method 3,ADHOC Payment Amount 4,ADHOC Payment Date 4,ADHOC Payment Method 4,ADHOC Payment Amount 5,ADHOC Payment Date 5,ADHOC Payment Method 5,ADHOC Payment Amount 6,ADHOC Payment Date 6,ADHOC Payment Method 6,Salesforce Account ID,Opportunity Deleted,Opportunity Last Modified Date,Opportunity Created Date,Opportunity Term Length (Months)
0,0061J00000QJ4gMQAT,OPP-03467,Q3 Angeles Clinic Santa Monica HLIQ Oncology -...,None,None,Closed Lost,None,2017-09-30,"3,200.00",NaN,NaN,None,None,NaN,None,None,None,NaN,None,None,NaN,None,None,NaN,None,None,None,None,None,None,None,None,None,None,None,0011J000017r2dvQAA,False,2018-01-25,2017-05-25,NaN
1,0061J00000QJ4gkQAD,OPP-03468,Q4 Angeles Clinic Santa Monica HLIQ Oncology -...,None,None,Closed Lost,None,2017-12-31,"3,200.00",NaN,NaN,None,None,NaN,None,None,None,NaN,None,None,NaN,None,None,NaN,None,None,None,None,None,None,None,None,None,None,None,0011J000017r2dvQAA,False,2018-01-25,2017-05-25,NaN
2,0061J00000QKni1QAD,OPP-04123,JCVI Health Nucleus,None,None,Closed Won,None,2016-09-29,"450,000.00",NaN,NaN,None,None,NaN,None,None,None,NaN,None,None,NaN,None,None,NaN,None,None,None,None,None,None,None,None,None,None,None,001o000000RT1ojAAD,False,2018-01-25,2017-08-08,NaN

### User Data

In [3]:
# Query all Opportunity records
query = "select Id, Username, LastName, FirstName, MiddleName, Name from User"
user = sf.query_all(query)['records']

# Create a list of dictionaries to hold Opportunity data
user_data = []

# Collect data
for usr in user:
    user_data.append({
        'Id': usr['Id'],
        'Username': usr['Username'] ,
        'Name' : usr['Name']
    })

# Convert list of dictionaries to a DataFrame
user_data_df = pd.DataFrame(user_data)

user_data_df = user_data_df.rename(columns={'Id': 'Salesforce User ID'})
user_data_df = user_data_df.rename(columns={'Username': 'Username'})
user_data_df = user_data_df.rename(columns={'Name': 'Employee Name'})

user_data_df.tail(2)

,Salesforce User ID,Username,Employee Name
496,005o0000000UQyyAAG,padmak577@gmail.com,Padma Kodukula
497,005o0000000aR0hAAE,chatty.00do0000000hvfzeao.ntg7uzkj8uuv@chatter...,Chatter Expert

### Opportunity History - Membership Start Date Data

In [4]:
# Query all Opportunity records
query = "select Id, IsDeleted, OpportunityId, CreatedById, CreatedDate, Field, DataType, OldValue, NewValue from OpportunityFieldHistory where Field = 'Membership_Start_Date__c'"
opportunitity_history = sf.query_all(query)['records']

# Create a list of dictionaries to hold Opportunity data
opportunity_history_data = []

# Collect data
for opp_history in opportunitity_history:
    opportunity_history_data.append({
        'Id': opp_history['Id'],
        'OpportunityId': opp_history['OpportunityId'] ,
        'CreatedById' : opp_history['CreatedById'],
        'CreatedDate' : opp_history['CreatedDate'],
        'Field' : opp_history['Field'],
        'DataType' : opp_history['DataType'],
        'OldValue' : opp_history['OldValue'],
        'NewValue' : opp_history['NewValue'],
        'IsDeleted': opp_history['IsDeleted']
    })

# Convert list of dictionaries to a DataFrame
opportunity_history_df = pd.DataFrame(opportunity_history_data)

#Left JOIN with User object
opportunity_history_df = pd.merge(opportunity_history_df, user_data_df, how='left', left_on='CreatedById', right_on='Salesforce User ID')


opportunity_history_df = opportunity_history_df.rename(columns={'Id': 'Opportunity History ID'})
opportunity_history_df = opportunity_history_df.rename(columns={'IsDeleted': 'Deleted'})
opportunity_history_df = opportunity_history_df.rename(columns={'OpportunityId': 'Salesforce Opportunity ID'})
opportunity_history_df = opportunity_history_df.rename(columns={'CreatedById': 'Updated By ID'})
opportunity_history_df = opportunity_history_df.rename(columns={'CreatedDate': 'Updated Date'})
opportunity_history_df = opportunity_history_df.rename(columns={'Field': 'Field Updated'})
opportunity_history_df = opportunity_history_df.rename(columns={'DataType': 'Data Type'})
opportunity_history_df = opportunity_history_df.rename(columns={'OldValue': 'Old Value'})
opportunity_history_df = opportunity_history_df.rename(columns={'NewValue': 'New Value'})
opportunity_history_df = opportunity_history_df.sort_values(by='Updated Date', ascending=False)
opportunity_history_df.dropna(subset=['Old Value'], inplace=True)
opportunity_history_df['Updated Date'] = pd.to_datetime(opportunity_history_df['Updated Date'])

min_opportunity_start_date_updates = opportunity_history_df.groupby(['Salesforce Opportunity ID','Old Value'])['Updated Date'].min().reset_index() #Minimum update date for each Opportunity
min_opportunity_start_date_updates['Rank'] = min_opportunity_start_date_updates.groupby('Salesforce Opportunity ID')['Updated Date'].rank(method='first')
min_opportunity_start_date_updates = min_opportunity_start_date_updates[min_opportunity_start_date_updates['Rank'] == 1]

min_opportunity_start_date_updates = min_opportunity_start_date_updates.rename(columns={'Old Value': '1st Membership Start Date (IF UPDATED)'})

opportunity_history_df['Concatenated Old Value'] = opportunity_history_df['Old Value'] + ' (updated ' + opportunity_history_df['Updated Date'].dt.strftime('%Y-%m-%d') + ' by ' + opportunity_history_df['Employee Name'] + ')'
opportunity_history_df = opportunity_history_df.groupby('Salesforce Opportunity ID')['Concatenated Old Value'].apply(lambda x: ', '.join(filter(None, map(str, x)))).reset_index()
opportunity_history_df.rename(columns={'Concatenated Old Value': 'Prior Membership Start Date(s)'}, inplace=True)

In [5]:
min_opportunity_start_date_updates[min_opportunity_start_date_updates['Salesforce Opportunity ID'] == '0065c000014pbidAAA']

,Salesforce Opportunity ID,1st Membership Start Date (IF UPDATED),Updated Date,Rank
105,0065c000014pbidAAA,2023-03-17,2024-01-09 15:43:53+00:00,1.00

### Opportunity History - Membership End Date Data

In [6]:
# Query all Opportunity END DATE records
query = "select Id, IsDeleted, OpportunityId, CreatedById, CreatedDate, Field, DataType, OldValue, NewValue from OpportunityFieldHistory where Field = 'Membership_Expiration_Date__c'"
opportunitity_history_end = sf.query_all(query)['records']

# Create a list of dictionaries to hold Opportunity data
opportunity_history_end_date_data = []

# Collect data
for opp_history_end in opportunitity_history_end:
    opportunity_history_end_date_data.append({
        'Id': opp_history_end['Id'],
        'OpportunityId': opp_history_end['OpportunityId'] ,
        'CreatedById' : opp_history_end['CreatedById'],
        'CreatedDate' : opp_history_end['CreatedDate'],
        'Field' : opp_history_end['Field'],
        'DataType' : opp_history_end['DataType'],
        'OldValue' : opp_history_end['OldValue'],
        'NewValue' : opp_history_end['NewValue'],
        'IsDeleted': opp_history_end['IsDeleted']
    })

# Convert list of dictionaries to a DataFrame
opportunity_history_end_date_df = pd.DataFrame(opportunity_history_end_date_data)

#Left JOIN with User object
opportunity_history_end_date_df = pd.merge(opportunity_history_end_date_df, user_data_df, how='left', left_on='CreatedById', right_on='Salesforce User ID')


opportunity_history_end_date_df = opportunity_history_end_date_df.rename(columns={'Id': 'Opportunity History ID'})
opportunity_history_end_date_df = opportunity_history_end_date_df.rename(columns={'IsDeleted': 'Deleted'})
opportunity_history_end_date_df = opportunity_history_end_date_df.rename(columns={'OpportunityId': 'Salesforce Opportunity ID'})
opportunity_history_end_date_df = opportunity_history_end_date_df.rename(columns={'CreatedById': 'Updated By ID'})
opportunity_history_end_date_df = opportunity_history_end_date_df.rename(columns={'CreatedDate': 'Updated Date'})
opportunity_history_end_date_df = opportunity_history_end_date_df.rename(columns={'Field': 'Field Updated'})
opportunity_history_end_date_df = opportunity_history_end_date_df.rename(columns={'DataType': 'Data Type'})
opportunity_history_end_date_df = opportunity_history_end_date_df.rename(columns={'OldValue': 'Old Value'})
opportunity_history_end_date_df = opportunity_history_end_date_df.rename(columns={'NewValue': 'New Value'})
opportunity_history_end_date_df = opportunity_history_end_date_df.sort_values(by='Updated Date', ascending=False)
opportunity_history_end_date_df.dropna(subset=['Old Value'], inplace=True)
opportunity_history_end_date_df['Updated Date'] = pd.to_datetime(opportunity_history_end_date_df['Updated Date'])
opportunity_history_end_date_df['Concatenated Old Value'] = opportunity_history_end_date_df['Old Value'] + ' (updated ' + opportunity_history_end_date_df['Updated Date'].dt.strftime('%Y-%m-%d') + ' by ' + opportunity_history_end_date_df['Employee Name'] + ')'
opportunity_history_end_date_df = opportunity_history_end_date_df.groupby('Salesforce Opportunity ID')['Concatenated Old Value'].apply(lambda x: ', '.join(filter(None, map(str, x)))).reset_index()
opportunity_history_end_date_df.rename(columns={'Concatenated Old Value': 'Prior Membership Expiration Date(s)'}, inplace=True)
opportunity_history_end_date_df.head(2)

  Salesforce Opportunity ID                Prior Membership Expiration Date(s)
0        0061J00000R5jdBQAR  2023-06-07 (updated 2023-04-12 by Anthony O'Co...
1        0061J00000UlmYaQAJ  2022-12-01 (updated 2023-03-23 by Anthony O'Co...

In [7]:
opportunity_history_end_date_df[opportunity_history_end_date_df['Salesforce Opportunity ID'] == '0065c000014pbidAAA']

,Salesforce Opportunity ID,Prior Membership Expiration Date(s)
229,0065c000014pbidAAA,2024-03-17 (updated 2024-01-09 by Anthony O'Co...

### Opportunity History - Payment #1 & Payment #2  Information

In [8]:
# Query all Payment information records
query = "select Id, IsDeleted, OpportunityId, CreatedById, CreatedDate, Field, DataType, OldValue, NewValue from OpportunityFieldHistory where Field in ('Payment1__c','Payment_Completed_Date__c','Payment2__c','Payment_2_Completed_Date__c')"
opportunitity_history_payments = sf.query_all(query)['records']

# Create a list of dictionaries to hold Opportunity data
opportunity_history_payments_data = []

# Collect data
for opp_history_pay in opportunitity_history_payments:
    opportunity_history_payments_data.append({
        'Id': opp_history_pay['Id'],
        'OpportunityId': opp_history_pay['OpportunityId'] ,
        'CreatedById' : opp_history_pay['CreatedById'],
        'CreatedDate' : opp_history_pay['CreatedDate'],
        'Field' : opp_history_pay['Field'],
        'DataType' : opp_history_pay['DataType'],
        'OldValue' : opp_history_pay['OldValue'],
        'NewValue' : opp_history_pay['NewValue'],
        'IsDeleted': opp_history_pay['IsDeleted']
    })

# Convert list of dictionaries to a DataFrame
opportunity_history_payments_data_df = pd.DataFrame(opportunity_history_payments_data)

#Left JOIN with User object
opportunity_history_payments_data_df = pd.merge(opportunity_history_payments_data_df, user_data_df, how='left', left_on='CreatedById', right_on='Salesforce User ID')


opportunity_history_payments_data_df = opportunity_history_payments_data_df.rename(columns={'Id': 'Opportunity History ID'})
opportunity_history_payments_data_df = opportunity_history_payments_data_df.rename(columns={'IsDeleted': 'Deleted'})
opportunity_history_payments_data_df = opportunity_history_payments_data_df.rename(columns={'OpportunityId': 'Salesforce Opportunity ID'})
opportunity_history_payments_data_df = opportunity_history_payments_data_df.rename(columns={'CreatedById': 'Updated By ID'})
opportunity_history_payments_data_df = opportunity_history_payments_data_df.rename(columns={'CreatedDate': 'Updated Date'})
opportunity_history_payments_data_df = opportunity_history_payments_data_df.rename(columns={'Field': 'Field Updated'})
opportunity_history_payments_data_df = opportunity_history_payments_data_df.rename(columns={'DataType': 'Data Type'})
opportunity_history_payments_data_df = opportunity_history_payments_data_df.rename(columns={'OldValue': 'Old Value'})
opportunity_history_payments_data_df = opportunity_history_payments_data_df.rename(columns={'NewValue': 'New Value'})
opportunity_history_payments_data_df = opportunity_history_payments_data_df.sort_values(by='Updated Date', ascending=False)
opportunity_history_payments_data_df.dropna(subset=['Old Value'], inplace=True)
opportunity_history_payments_data_df['Updated Date'] = pd.to_datetime(opportunity_history_payments_data_df['Updated Date'])
opportunity_history_payments_data_df['Concatenated Old Value'] = opportunity_history_payments_data_df['Old Value'] + ' (updated ' + opportunity_history_payments_data_df['Updated Date'].dt.strftime('%Y-%m-%d') + ' by ' + opportunity_history_payments_data_df['Employee Name'] + ')'
opportunity_history_payments_data_df.rename(columns={'Concatenated Old Value': 'Prior Value'}, inplace=True)

payment1_amount_df = opportunity_history_payments_data_df[opportunity_history_payments_data_df['Field Updated'] == 'Payment1__c']
payment1_amount_df = payment1_amount_df.rename(columns={'Prior Value': 'Prior Payment 1 Values'})
payment1_amount_df = payment1_amount_df.groupby('Salesforce Opportunity ID')['Prior Payment 1 Values'].apply(lambda x: ', '.join(filter(None, map(str, x)))).reset_index()

payment1_completeddate_df = opportunity_history_payments_data_df[opportunity_history_payments_data_df['Field Updated'] == 'Payment_Completed_Date__c']
payment1_completeddate_df = payment1_completeddate_df.rename(columns={'Prior Value': 'Prior Payment 1 Completed Date Values'})
payment1_completeddate_df = payment1_completeddate_df.groupby('Salesforce Opportunity ID')['Prior Payment 1 Completed Date Values'].apply(lambda x: ', '.join(filter(None, map(str, x)))).reset_index()

payment2_amount_df = opportunity_history_payments_data_df[opportunity_history_payments_data_df['Field Updated'] == 'Payment2__c']
payment2_amount_df = payment2_amount_df.rename(columns={'Prior Value': 'Prior Payment 2 Values'})
payment2_amount_df = payment2_amount_df.groupby('Salesforce Opportunity ID')['Prior Payment 2 Values'].apply(lambda x: ', '.join(filter(None, map(str, x)))).reset_index()

payment2_completeddate_df = opportunity_history_payments_data_df[opportunity_history_payments_data_df['Field Updated'] == 'Payment_2_Completed_Date__c']
payment2_completeddate_df = payment2_completeddate_df.rename(columns={'Prior Value': 'Prior Payment 2 Completed Date Values'})
payment2_completeddate_df = payment2_completeddate_df.groupby('Salesforce Opportunity ID')['Prior Payment 2 Completed Date Values'].apply(lambda x: ', '.join(filter(None, map(str, x)))).reset_index()


payment2_amount_df.head(5)

  Salesforce Opportunity ID                            Prior Payment 2 Values
0        0061J00000UlmYaQAJ         12500 (updated 2024-01-05 by Megan Smith)
1        0065c00000sB8weAAC  100000 (updated 2024-04-04 by Anthony O'Connell)
2        0065c00000xrb1lAAA      16000 (updated 2024-02-29 by Thomas Rossman)
3        0065c000015gmngAAA          1250 (updated 2024-04-19 by Megan Smith)
4        0065c000015gysUAAQ          1250 (updated 2024-04-19 by Megan Smith)

In [9]:
payment1_completeddate_df[payment1_completeddate_df['Salesforce Opportunity ID'] == '0065c000014pbidAAA']

,Salesforce Opportunity ID,Prior Payment 1 Completed Date Values
68,0065c000014pbidAAA,2023-03-15 (updated 2023-03-16 by Megan Smith)...

In [10]:
opportunity_history_payments_data_df[opportunity_history_payments_data_df['Salesforce Opportunity ID'] == '0065c000014pbidAAA']

,Opportunity History ID,Salesforce Opportunity ID,Updated By ID,Updated Date,Field Updated,Data Type,Old Value,New Value,Deleted,Salesforce User ID,Username,Employee Name,Prior Value
1930,0175c0000wGyImJAAV,0065c000014pbidAAA,0055c000008wFtCAAU,2023-03-16 16:42:22+00:00,Payment_Completed_Date__c,DateOnly,2023-03-15,2023-02-23,False,0055c000008wFtCAAU,msmith@humanlongevity.com,Megan Smith,2023-03-15 (updated 2023-03-16 by Megan Smith)
2062,0175c0000wEZKAxAAP,0065c000014pbidAAA,0055c000008wFtCAAU,2023-03-15 21:54:12+00:00,Payment_Completed_Date__c,DateOnly,2023-02-23,2023-03-15,False,0055c000008wFtCAAU,msmith@humanlongevity.com,Megan Smith,2023-02-23 (updated 2023-03-15 by Megan Smith)
1037,0175c0000wEYntVAAT,0065c000014pbidAAA,005o0000003G1CtAAK,2023-03-15 18:24:38+00:00,Payment_Completed_Date__c,DateOnly,2023-03-15,2023-02-23,False,005o0000003G1CtAAK,aoconnell@humanlongevity.com,Anthony O'Connell,2023-03-15 (updated 2023-03-15 by Anthony O'Co...

### Opportunity Attachments

In [11]:
# Query all Opportunity records
query = "select Id, ParentId, Name from Attachment where IsDeleted = false"
attachments = sf.query_all(query)['records']

# Create a list of dictionaries to hold Opportunity data
attachment_data = []

# Collect data
for att_data in attachments:
    attachment_data.append({
        'Id': att_data['Id'],
        'ParentId': att_data['ParentId'] ,
        'Name' : att_data['Name'],
    })

# Convert list of dictionaries to a DataFrame
attachment_data_df = pd.DataFrame(attachment_data)

attachment_data_df = attachment_data_df.rename(columns={'Id': 'Attachment ID'})
attachment_data_df = attachment_data_df.rename(columns={'ParentId': 'Salesforce Opportunity ID'})
attachment_data_df = attachment_data_df.rename(columns={'Name': 'Attachment Name'})

attachment_data_df = attachment_data_df.groupby('Salesforce Opportunity ID')['Attachment ID'].nunique().reset_index()

attachment_data_df = attachment_data_df.rename(columns={'Attachment ID': 'Distinct Attachment Count'})

attachment_data_df.head(2)

  Salesforce Opportunity ID  Distinct Attachment Count
0        0011J000017r2dvQAA                          2
1        0011J000017rtVzQAI                          2

### Account Data

In [12]:
# Query all Account records
query = "select Id, Account_Number_Auto__c, Name, Type from Account"
account = sf.query_all(query)['records']

# Create a list of dictionaries to hold Opportunity data
account_data = []

# Collect data
for acc in account:
    account_data.append({
        'Id': acc['Id'],
        'Account_Number_Auto__c': acc['Account_Number_Auto__c'],
        'Name': acc['Name'],
        'Type': acc['Type'],
    })

# Convert list of dictionaries to a DataFrame
account_df = pd.DataFrame(account_data)

account_df = account_df.rename(columns={'Id': 'Salesforce Account ID'})
account_df = account_df.rename(columns={'Account_Number_Auto__c': 'Account ID'})
account_df = account_df.rename(columns={'Name': 'Account Name'})
account_df = account_df.rename(columns={'Type': 'Account Type'})

account_df.head(2)

  Salesforce Account ID  Account ID  Account Name  Account Type
0    0011J000017ps5JQAQ  ACCT-06513    Fox, David  Person (B2C)
1    0011J000017ps5YQAQ  ACCT-06515  Taylor, Lila  Person (B2C)

In [13]:
account_df[account_df['Salesforce Account ID'] == '0015c00002mmIDu']

Empty DataFrame
Columns: [Salesforce Account ID, Account ID, Account Name, Account Type]
Index: []

### Opportunity Line Item Data

In [14]:
# Query all Opportunity Line Item records
query = "select Id, OpportunityId, SortOrder, PricebookEntryId, Product2Id, ProductCode, Name, Quantity, TotalPrice, UnitPrice, ListPrice, ServiceDate, Description, CreatedDate, CreatedById, LastModifiedDate, LastModifiedById, SystemModstamp, IsDeleted, LastViewedDate, LastReferencedDate, Product_Short_Name__c from OpportunityLineItem "
OpportunityLineItem = sf.query_all(query)['records']

# Create a list of dictionaries to hold Opportunity data
Opportunitylineitem_data = []

# Collect data
for opp in OpportunityLineItem:
    Opportunitylineitem_data.append({
        'Id': opp['Id'],
        'OpportunityId': opp['OpportunityId'],
        'Name': opp['Name'],
        'Quantity': opp['Quantity'],
        'TotalPrice': opp['TotalPrice'],
        'UnitPrice': opp['UnitPrice'],
        'ListPrice': opp['ListPrice'],
    })

# Convert list of dictionaries to a DataFrame
opportunity_line_item_df = pd.DataFrame(Opportunitylineitem_data)

opportunity_line_item_df = opportunity_line_item_df.rename(columns={'Id': 'Salesforce Opportunity Line Item ID'})
opportunity_line_item_df = opportunity_line_item_df.rename(columns={'OpportunityId': 'Salesforce Opportunity ID'})
opportunity_line_item_df = opportunity_line_item_df.rename(columns={'Name': 'Opportunity Product Line Item Name'})
opportunity_line_item_df = opportunity_line_item_df.rename(columns={'Quantity': 'Product Quantity'})
opportunity_line_item_df = opportunity_line_item_df.rename(columns={'TotalPrice': 'Product Total Price'})
opportunity_line_item_df = opportunity_line_item_df.rename(columns={'UnitPrice': 'Unit Price'})
opportunity_line_item_df = opportunity_line_item_df.rename(columns={'ListPrice': 'List Price'})


opportunity_line_item_df.head(3)

,Salesforce Opportunity Line Item ID,Salesforce Opportunity ID,Opportunity Product Line Item Name,Product Quantity,Product Total Price,Unit Price,List Price
0,00k1J00000Vdu38QAB,0061J00000bo9hCQAQ,"Dolce, Donald - PLAT NEW HN Platinum_PR-12002",1.00,0.00,0.00,"19,000.00"
1,00k1J00000Vdu4fQAB,0061J00000bo9ieQAA,"Boveri, Joseph - PLAT NEW HN Platinum_PR-12002",1.00,0.00,0.00,"19,000.00"
2,00k1J00000YtJBMQA3,0061J00000bo9z4QAA,"Xu, Wei - PLAT NEW HN Platinum_PR-12002",1.00,"19,000.00","19,000.00","19,000.00"

In [15]:
product_counts_df = opportunity_line_item_df.groupby('Salesforce Opportunity ID').size().reset_index(name='Number of Opportunity Products')

### JOIN dataframes into a single dataframe

In [16]:
merged_df = pd.merge(opportunities_df, account_df, how='left', on='Salesforce Account ID')
merged_df = pd.merge(merged_df, product_counts_df, how='left', on='Salesforce Opportunity ID')
merged_df = pd.merge(merged_df, opportunity_history_df, how='left', on='Salesforce Opportunity ID')
merged_df = pd.merge(merged_df, min_opportunity_start_date_updates, how='left', on='Salesforce Opportunity ID')
merged_df = pd.merge(merged_df, opportunity_history_end_date_df, how='left', on='Salesforce Opportunity ID')
merged_df = pd.merge(merged_df, payment1_amount_df, how='left', on='Salesforce Opportunity ID', suffixes=('', '_Payment1Amount'))

merged_df[merged_df['Salesforce Opportunity ID'] == '0065c00001LkDz0AAF']

,Salesforce Opportunity ID,Opportunity ID,Name,Membership Start Date,Membership End Date,Opportunity Stage,Membership Location,Opportunity Close Date,Opportunity Amount,Opportunity Term Length (Years),Payment 1 Amount,Payment 1 Method,Payment 1 Completed Date,Payment 2 Amount,Payment 2 Method,Payment 2 Completed Date,Payment Notes,ADHOC Payment Amount 1,ADHOC Payment Date 1,ADHOC Payment Method 1,ADHOC Payment Amount 2,ADHOC Payment Date 2,ADHOC Payment Method 2,ADHOC Payment Amount 3,ADHOC Payment Date 3,ADHOC Payment Method 3,ADHOC Payment Amount 4,ADHOC Payment Date 4,ADHOC Payment Method 4,ADHOC Payment Amount 5,ADHOC Payment Date 5,ADHOC Payment Method 5,ADHOC Payment Amount 6,ADHOC Payment Date 6,ADHOC Payment Method 6,Salesforce Account ID,Opportunity Deleted,Opportunity Last Modified Date,Opportunity Created Date,Opportunity Term Length (Months),Account ID,Account Name,Account Type,Number of Opportunity Products,Prior Membership Start Date(s),1st Membership Start Date (IF UPDATED),Updated Date,Rank,Prior Membership Expiration Date(s),Prior Payment 1 Values
11954,0065c00001LkDz0AAF,OPP-13627,"Colin, Emine - 100+ Renewal - Multi Year",2023-09-30,2028-09-30,Sales Consult,"Health Nucleus-South San Francisco, CA",2023-11-06,"25,000.00",5.00,"2,000.00",Wire Transfer,2023-12-12,"3,000.00",Wire Transfer,2024-03-12,"$5,000.00 by March 9, 2024, $5,000.00 on the a...",NaN,None,None,NaN,None,None,NaN,None,None,None,None,None,None,None,None,None,None,None,0011J00001jiOWhQAM,False,2024-03-29,2023-09-07,60.00,ACCT-12001,"Colin, Emine",Person (B2C),1.00,NaN,NaN,NaT,NaN,NaN,"4000 (updated 2024-03-29 by Lauren Garland), 2..."

In [17]:
merged_df = pd.merge(opportunities_df, account_df, how='left', on='Salesforce Account ID')
merged_df = pd.merge(merged_df, product_counts_df, how='left', on='Salesforce Opportunity ID')
merged_df = pd.merge(merged_df, opportunity_history_df, how='left', on='Salesforce Opportunity ID')
merged_df = pd.merge(merged_df, min_opportunity_start_date_updates, how='left', on='Salesforce Opportunity ID')
merged_df = pd.merge(merged_df, opportunity_history_end_date_df, how='left', on='Salesforce Opportunity ID')
merged_df = pd.merge(merged_df, payment1_amount_df, how='left', on='Salesforce Opportunity ID', suffixes=('', '_Payment1Amount'))
merged_df = pd.merge(merged_df, payment1_completeddate_df, how='left', on='Salesforce Opportunity ID', suffixes=('', '_Payment1CompletedDate'))
merged_df = pd.merge(merged_df, payment2_amount_df, how='left', on='Salesforce Opportunity ID', suffixes=('', '_Payment2Amount'))
merged_df = pd.merge(merged_df, payment2_completeddate_df, how='left', on='Salesforce Opportunity ID', suffixes=('', '_Payment2CompletedDate'))

#merged_df = pd.merge(merged_df, attachment_data_df, how='left', on='Salesforce Opportunity ID')


merged_df['Total Payments Received'] = merged_df['Payment 1 Amount'].fillna(0) + merged_df['Payment 2 Amount'].fillna(0)

condition_flexjet_marqi = (merged_df['Total Payments Received'] == 0) & (merged_df['Payment Notes'].str.upper().str.contains('INVOICE CREATED', na=False))

# Apply the condition to update the 'Total Payments Received' column
merged_df.loc[condition_flexjet_marqi, 'Total Payments Received'] = merged_df['Opportunity Amount']

# Create the new column for date comparison
merged_df['Membership Start Date vs. Payment Dates'] = (
    (merged_df['Membership Start Date'] < merged_df['Payment 1 Completed Date']) &
    (merged_df['Membership Start Date'] < merged_df['Payment 2 Completed Date'])
)

# Hard coded notes
merged_df.loc[merged_df['Salesforce Opportunity ID'] == '0065c00000xrb1lAAA', 'Membership Start Date vs. Payment Dates'] = 'REVIEWED & PAID'
merged_df.loc[merged_df['Salesforce Opportunity ID'] == '0065c00001LkDyzAAF', 'Membership Start Date vs. Payment Dates'] = 'REVIEWED & SPECIAL PAYMENT PLAN'
merged_df.loc[merged_df['Salesforce Opportunity ID'] == '0065c00001LkDz0AAF', 'Membership Start Date vs. Payment Dates'] = 'REVIEWED & SPECIAL PAYMENT PLAN'
merged_df.loc[merged_df['Salesforce Opportunity ID'] == '0065c00001Ly0NxAAJ', 'Membership Start Date vs. Payment Dates'] = 'ELLEN - OUTSTANDING / FOLLOW-UP'
merged_df.loc[merged_df['Salesforce Opportunity ID'] == '0065c00001Ly0ORAAZ', 'Membership Start Date vs. Payment Dates'] = 'REVIEWED & PAID'
merged_df.loc[merged_df['Salesforce Opportunity ID'] == '0065c00001LjOgQAAV', 'Membership Start Date vs. Payment Dates'] = 'REVIEWED & PAID'
merged_df.loc[merged_df['Salesforce Opportunity ID'] == '0065c000016z6YRAAY', 'Membership Start Date vs. Payment Dates'] = 'REVIEWED & PAID'
merged_df.loc[merged_df['Salesforce Opportunity ID'] == '0065c00001A1mnVAAR', 'Membership Start Date vs. Payment Dates'] = 'REVIEWED & PAID'
merged_df.loc[merged_df['Salesforce Opportunity ID'] == '0065c00001A0h4xAAB', 'Membership Start Date vs. Payment Dates'] = 'REVIEWED & PAID'
merged_df.loc[merged_df['Salesforce Opportunity ID'] == '0065c000019zNSsAAM', 'Membership Start Date vs. Payment Dates'] = 'REVIEWED & PAID'
merged_df.loc[merged_df['Salesforce Opportunity ID'] == '0065c000019zxQvAAI', 'Membership Start Date vs. Payment Dates'] = 'REVIEWED & PAID'
merged_df.loc[merged_df['Salesforce Opportunity ID'] == '0065c000015gX1DAAU', 'Membership Start Date vs. Payment Dates'] = 'ELLEN TO RESEARCH - AR AS OF 12/31/2023 SHOULD BE $25,000'
merged_df.loc[merged_df['Salesforce Opportunity ID'] == '0065c000015gy32AAA', 'Membership Start Date vs. Payment Dates'] = 'REVIEWED & PAID'
merged_df.loc[merged_df['Salesforce Opportunity ID'] == '0065c000015gy2EAAQ', 'Membership Start Date vs. Payment Dates'] = 'REVIEWED & PAID'
merged_df.loc[merged_df['Salesforce Opportunity ID'] == '0065c000015gedlAAA', 'Membership Start Date vs. Payment Dates'] = 'REVIEWED & PAID'
merged_df.loc[merged_df['Salesforce Opportunity ID'] == '0065c000015fpDLAAY', 'Membership Start Date vs. Payment Dates'] = 'REVIEWED & PAID'

#Hard coded with Ellen Bolden on 6/26/2024 (Yurkovich, James - Buck Institute Corporate Program), pending confirming of $2,000 from Buck Institute.
merged_df.loc[merged_df['Salesforce Opportunity ID'] == '0065c00001Pu4ZBAAZ', 'Total Payments Received'] = 5000
# Ellen confirmed should be 30k on 6/27/2024 after speaking with Anthony and reviewing Payment Notes
merged_df.loc[merged_df['Salesforce Opportunity ID'] == '0065c00001NrDJzAAN', 'Total Payments Received'] = 30000

# Convert dates to datetime format
merged_df['Membership Start Date'] = pd.to_datetime(merged_df['Membership Start Date'])
merged_df['Payment 1 Completed Date'] = pd.to_datetime(merged_df['Payment 1 Completed Date'])



# Check if 'Payment Notes' contains 'INVOICE CREATED' (case-insensitive)
merged_df['Payment Notes - INVOICE CREATED'] = merged_df['Payment Notes'].str.upper().str.contains('INVOICE CREATED', na=False)

# Initialize 'Customer Deposits' column with default value
merged_df['Customer Deposits'] = None

# Convert date columns to datetime format
merged_df['1st Membership Start Date (IF UPDATED)'] = pd.to_datetime(merged_df['1st Membership Start Date (IF UPDATED)'])
merged_df['Membership Start Date'] = pd.to_datetime(merged_df['Membership Start Date'])
# Calculate the difference in months
# Define a function to calculate the difference in months
def diff_in_months(date1, date2):
    if pd.isna(date1) or pd.isna(date2):
        return ''
    return abs((date1 - date2).days) 
# Calculate the difference in days
merged_df['MSD - Difference in Days'] = merged_df.apply(lambda row: diff_in_months(row['1st Membership Start Date (IF UPDATED)'], row['Membership Start Date']), axis=1)

# Compare 'Membership Start Date' with 'Payment 1 Date' and populate 'Customer Deposits'
for index, row in merged_df.iterrows():
    membership_start_date = row['Membership Start Date']
    payment_1_date = row['Payment 1 Completed Date']
    payment_1_amount = row['Payment 1 Amount']

    if pd.notna(membership_start_date) and pd.Timestamp('2024-01-01') <= membership_start_date <= pd.Timestamp('2024-04-30'):
        if payment_1_date < membership_start_date.replace(day=1):  # Check if payment is in a different month before start date
            merged_df.loc[index, 'Customer Deposits'] = payment_1_amount

merged_df['Start & End Date - Year Difference'] = 'N/A'

ordered_columns = [
    'Opportunity ID', 'Salesforce Opportunity ID', 'Name', 'Opportunity Stage', 'Account ID', 'Account Name', 'Account Type', 'Number of Opportunity Products',
    'Membership Location', 'Prior Membership Start Date(s)', '1st Membership Start Date (IF UPDATED)', 'Membership Start Date', 'MSD - Difference in Days', 'Prior Membership Expiration Date(s)', 'Membership End Date','Start & End Date - Year Difference','Membership Start Date vs. Payment Dates', 
    'Opportunity Amount', 'Opportunity Term Length (Years)', 'Opportunity Term Length (Months)',
    'Payment 1 Amount', 'Prior Payment 1 Values', 'Payment 1 Method', 'Payment 1 Completed Date', 'Prior Payment 1 Completed Date Values',
    'Payment 2 Amount', 'Prior Payment 2 Values', 'Payment 2 Method','Payment 2 Completed Date', 'Prior Payment 1 Completed Date Values', 
    'Total Payments Received', 'Customer Deposits', 'Payment Notes', 'Payment Notes - INVOICE CREATED',
    'ADHOC Payment Amount 1', 'ADHOC Payment Date 1', 'ADHOC Payment Method 1',
    'ADHOC Payment Amount 2', 'ADHOC Payment Date 2', 'ADHOC Payment Method 2', 
    'ADHOC Payment Amount 3','ADHOC Payment Date 3', 'ADHOC Payment Method 3',
    'ADHOC Payment Amount 4', 'ADHOC Payment Date 4', 'ADHOC Payment Method 4', 
    'ADHOC Payment Amount 5', 'ADHOC Payment Date 5', 'ADHOC Payment Method 5',
    'ADHOC Payment Amount 6', 'ADHOC Payment Date 6', 'ADHOC Payment Method 6', 
    'Opportunity Deleted', 'Opportunity Last Modified Date', 'Opportunity Created Date'
       ]

# Reorder columns in merged_df
merged_df = merged_df[ordered_columns]


#Filter output so that not all Membership Start Dates are included
merged_df['Membership Start Date'] = pd.to_datetime(merged_df['Membership Start Date'])
merged_df = merged_df[merged_df['Membership Start Date'].dt.year >= 2021]

C:\Users\cmccullough\AppData\Local\Temp\ipykernel_13396\239855403.py:28: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'REVIEWED & PAID' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  merged_df.loc[merged_df['Salesforce Opportunity ID'] == '0065c00000xrb1lAAA', 'Membership Start Date vs. Payment Dates'] = 'REVIEWED & PAID'

In [18]:
opportunities_df.columns

Index(['Salesforce Opportunity ID', 'Opportunity ID', 'Name',
       'Membership Start Date', 'Membership End Date', 'Opportunity Stage',
       'Membership Location', 'Opportunity Close Date', 'Opportunity Amount',
       'Opportunity Term Length (Years)', 'Payment 1 Amount',
       'Payment 1 Method', 'Payment 1 Completed Date', 'Payment 2 Amount',
       'Payment 2 Method', 'Payment 2 Completed Date', 'Payment Notes',
       'ADHOC Payment Amount 1', 'ADHOC Payment Date 1',
       'ADHOC Payment Method 1', 'ADHOC Payment Amount 2',
       'ADHOC Payment Date 2', 'ADHOC Payment Method 2',
       'ADHOC Payment Amount 3', 'ADHOC Payment Date 3',
       'ADHOC Payment Method 3', 'ADHOC Payment Amount 4',
       'ADHOC Payment Date 4', 'ADHOC Payment Method 4',
       'ADHOC Payment Amount 5', 'ADHOC Payment Date 5',
       'ADHOC Payment Method 5', 'ADHOC Payment Amount 6',
       'ADHOC Payment Date 6', 'ADHOC Payment Method 6',
       'Salesforce Account ID', 'Opportunity Deleted',
       'Opportunity Last Modified Date', 'Opportunity Created Date',
       'Opportunity Term Length (Months)'],
      dtype='object')

In [19]:
#merged_df[merged_df['Total Payments Received'] <= 0].head(10)

In [20]:
#merged_df[merged_df['Membership Start Date'] <= '2024-06-01']

### Add payments and defer across term length

In [21]:
# Convert date columns to datetime format
merged_df['Membership Start Date'] = pd.to_datetime(merged_df['Membership Start Date'])
merged_df['Membership End Date'] = pd.to_datetime(merged_df['Membership End Date'])

merged_df['Start & End Date - Year Difference'] = (merged_df['Membership End Date'] - merged_df['Membership Start Date']) / pd.Timedelta(days=365)
merged_df['Start & End Date - Year Difference'] = merged_df['Start & End Date - Year Difference'].round(2)



# Determine the range of months to create columns (including one month before the end date)
min_date = merged_df['Membership Start Date'].min()
max_date = merged_df['Membership End Date'].max() - pd.offsets.MonthBegin(1)

# Generate monthly date range
monthly_dates = pd.date_range(start=min_date, end=max_date, freq='MS')

# Add columns for each month in the range (if not already added)
for date in monthly_dates:
    column_name = f"{date.strftime('%B %Y')}"
    if column_name not in merged_df.columns:
        merged_df[column_name] = 0.0  # Initialize with zeros

# Reference date for condition
condition_date = datetime(2024, 1, 1) #When new reference schedule was effective, per Ellen on 6/18/2024

# Distribute payments according to the specified rules
for index, row in merged_df.iterrows():
    total_payments = row['Total Payments Received']
    term_length = row['Opportunity Term Length (Months)']
    start_date = row['Membership Start Date']
    end_date = row['Membership End Date']
    
    # Ensure term_length is an integer
    try:
        term_length = int(term_length)
    except ValueError:
        continue  # Skip this row if term_length is not a valid integer
    
    # Initialize monthly_payments with a default empty list
    monthly_payments = []

    # Calculate monthly payments based on term length if start date is on or after 2024-01-01
    if start_date >= condition_date:
        if term_length == 12:
            monthly_payments = [total_payments / 12] * 12
        elif term_length == 24:
            monthly_payments = [total_payments * 0.6 / 12] * 12 + [total_payments * 0.4 / 12] * 12
        elif term_length == 36:
            monthly_payments = [total_payments * 0.45 / 12] * 12 + [total_payments * 0.28 / 12] * 12 + [total_payments * 0.27 / 12] * 12
        elif term_length == 48:
            monthly_payments = [total_payments * 0.33 / 12] * 12 + [total_payments * 0.23 / 12] * 12 + [total_payments * 0.22 / 12] * 12 + [total_payments * 0.22 / 12] * 12
        elif term_length == 60:
            monthly_payments = [total_payments * 0.25 / 12] * 12 + [total_payments * 0.19 / 12] * 12 + [total_payments * 0.19 / 12] * 12 + [total_payments * 0.19 / 12] * 12 + [total_payments * 0.18 / 12] * 12 
        elif term_length == 120:
            monthly_payments = [total_payments * 0.1419 / 12] * 12 + [total_payments * 0.0953 / 12] * 12 + [total_payments * 0.0953 / 12] * 12 + [total_payments * 0.0953 / 12] * 12 + [total_payments * 0.0953 / 12] * 12 + [total_payments * 0.0953 / 12] * 12 + [total_payments * 0.0953 / 12] * 12 + [total_payments * 0.0953 / 12] * 12 + [total_payments * 0.0953 / 12] * 12 + [total_payments * 0.0953 / 12] * 12
    else:
        # Distribute payments evenly across 12 months if the start date is BEFORE 2024-01-01
        monthly_payments = [total_payments / 12] * 12

    # Distribute payment across months
    current_date = start_date
    for payment in monthly_payments:
        if current_date <= end_date:
            month_column = f"{current_date.strftime('%B %Y')}"
            if month_column in merged_df.columns:
                merged_df.loc[index, month_column] += payment
            current_date = current_date + pd.offsets.MonthEnd(0) + timedelta(days=1)
        else:
            break

C:\Users\cmccullough\AppData\Local\Temp\ipykernel_13396\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_13396\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_13396\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_13396\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_13396\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_13396\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_13396\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_13396\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_13396\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_13396\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_13396\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_13396\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_13396\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_13396\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_13396\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_13396\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_13396\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_13396\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_13396\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_13396\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_13396\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_13396\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_13396\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_13396\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_13396\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_13396\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_13396\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_13396\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_13396\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_13396\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_13396\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_13396\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_13396\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_13396\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_13396\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_13396\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_13396\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_13396\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_13396\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_13396\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_13396\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_13396\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_13396\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_13396\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_13396\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_13396\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_13396\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_13396\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_13396\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros

### Add AD-HOC payments to revenue recognition schedule

In [ ]:
# Convert 'ADHOC Payment Date' columns to datetime format
date_columns = [col for col in merged_df.columns if col.startswith('ADHOC Payment Date')]
for col in date_columns:
    merged_df[col] = pd.to_datetime(merged_df[col])

# Ensure the date columns are in datetime format
for i in range(1, 4):
    date_col = f'ADHOC Payment Date {i}'
    merged_df[date_col] = pd.to_datetime(merged_df[date_col], errors='coerce')

# Define the function to update monthly payments
def update_monthly_payments(row):
    for i in range(1, 4):  # Adjust range based on the number of sets (in this example, up to 3)
        amount_col = f'ADHOC Payment Amount {i}'
        date_col = f'ADHOC Payment Date {i}'
        
        if pd.notnull(row[amount_col]) and row[amount_col] > 0:
            payment_date = row[date_col]
            if pd.notnull(payment_date):
                month_year = payment_date.strftime('%B %Y')
                col_name = f'{month_year} - ADHOC'
                
                if col_name not in merged_df.columns:
                    merged_df[col_name] = 0
                
                merged_df.at[row.name, col_name] += row[amount_col]

# Apply the function to each row in the DataFrame
merged_df.apply(update_monthly_payments, axis=1)

# Optionally, convert 'ADHOC Payment Date' columns back to string format for display/export
for col in date_columns:
    merged_df[col] = merged_df[col].dt.strftime('%Y-%m-%d')

C:\Users\cmccullough\AppData\Local\Temp\ipykernel_6676\2102293487.py:24: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[col_name] = 0
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_6676\2102293487.py:24: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[col_name] = 0
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_6676\2102293487.py:24: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[col_name] = 0
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_6676\2102293487.py:24: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[col_name] = 0
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_6676\2102293487.py:24: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[col_name] = 0

In [ ]:
#Sort
merged_df = merged_df.sort_values(by='Membership Start Date', ascending=False)
#Convert to date format
merged_df['Membership Start Date'] = merged_df['Membership Start Date'].dt.date
merged_df['1st Membership Start Date (IF UPDATED)'] = merged_df['1st Membership Start Date (IF UPDATED)'].dt.date
merged_df['Membership End Date'] = merged_df['Membership End Date'].dt.date
merged_df['Payment 1 Completed Date'] = merged_df['Payment 1 Completed Date'].dt.date


# Temp filter
#merged_df = merged_df[
#    merged_df['Prior Membership Start Date(s)'].notna() | 
#    merged_df['Prior Membership Expiration Date(s)'].notna()
#]

### Monthly Invoice Totals

In [ ]:
# Convert 'Membership Start Date' to datetime
merged_df['Membership Start Date'] = pd.to_datetime(merged_df['Membership Start Date'])

# Extract Month and Year from 'Membership Start Date'
merged_df['YearMonth'] = merged_df['Membership Start Date'].dt.to_period('M').astype(str)

# Group by YearMonth and sum 'Total Payments Received' to get 'Monthly Invoice Total'
monthly_invoice_total = merged_df.groupby('YearMonth')['Total Payments Received'].sum().reset_index()
monthly_invoice_total.columns = ['YearMonth', 'Monthly Invoice Total']

monthly_invoice_total.head(12)

C:\Users\cmccullough\AppData\Local\Temp\ipykernel_6676\586017296.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df['YearMonth'] = merged_df['Membership Start Date'].dt.to_period('M').astype(str)

   YearMonth  Monthly Invoice Total
0    2023-01           1,672,575.00
1    2023-02           2,123,500.00
2    2023-03           2,078,700.00
3    2023-04           1,471,300.00
4    2023-05           1,131,200.00
5    2023-06           1,531,500.00
6    2023-07           2,052,500.00
7    2023-08           1,622,000.00
8    2023-09           1,717,500.00
9    2023-10           1,323,500.00
10   2023-11           1,245,000.00
11   2023-12           3,068,727.00

### Revenue to Recognize Schedule

In [ ]:

# Sum each column with a string that contains the Month + Year to create 'Revenue to Recognize'
# Filter columns that match the pattern for months
month_columns = [col for col in merged_df.columns if col.endswith(('2023', '2024', '2025', '2026', '2027', '2028', '2029', '2030', '2031', '2032', '2033', '2034', '2035', '2036', '2037', '2038'))]

# Sum the relevant columns
revenue_to_recognize = merged_df[month_columns].sum().reset_index()
revenue_to_recognize.columns = ['YearMonth', 'Revenue to Recognize']
revenue_to_recognize['YearMonth'] = pd.to_datetime(revenue_to_recognize['YearMonth'], format='%B %Y').dt.strftime('%Y-%m')

revenue_to_recognize.head(12)

   YearMonth  Revenue to Recognize
0    2023-01            139,381.25
1    2023-02            316,339.58
2    2023-03            489,564.58
3    2023-04            611,339.58
4    2023-05            705,606.25
5    2023-06            833,231.25
6    2023-07          1,004,272.92
7    2023-08          1,139,439.58
8    2023-09          1,282,564.58
9    2023-10          1,392,856.25
10   2023-11          1,496,606.25
11   2023-12          1,752,333.50

### Breakdown by Membership Location

In [ ]:

# Select columns from merged_df based on 'Membership Location' and month_columns
filtered_df = merged_df[['Membership Location'] + month_columns].copy()

sum_by_location = filtered_df.groupby('Membership Location')[month_columns].sum().T
sum_by_location.reset_index(inplace=True)
sum_by_location = sum_by_location.rename(columns={'index': 'YearMonth'})
sum_by_location['YearMonth'] = pd.to_datetime(sum_by_location['YearMonth'], format='%B %Y').dt.strftime('%Y-%m')

sum_by_location.head(5)

Membership Location,YearMonth,"Health Nucleus - San Diego, CA","Health Nucleus-South San Francisco, CA"
0,2023-01,"75,775.00","63,606.25"
1,2023-02,"164,983.33","151,356.25"
2,2023-03,"282,083.33","207,481.25"
3,2023-04,"367,775.00","243,564.58"
4,2023-05,"422,333.33","283,272.92"

### JOIN/merge dataframes

In [ ]:
# Merge the two DataFrames
merged_df_2 = pd.merge(monthly_invoice_total, revenue_to_recognize, on =['YearMonth'], how='outer')
merged_df_2 = pd.merge(merged_df_2, sum_by_location, on =['YearMonth'], how='outer')
merged_df_2 = merged_df_2.rename(columns={'YearMonth': 'Year-Month'})

In [ ]:
merged_df_2.head(12)

,Year-Month,Monthly Invoice Total,Revenue to Recognize,"Health Nucleus - San Diego, CA","Health Nucleus-South San Francisco, CA"
0,2023-01,"1,672,575.00","139,381.25","75,775.00","63,606.25"
1,2023-02,"2,123,500.00","316,339.58","164,983.33","151,356.25"
2,2023-03,"2,078,700.00","489,564.58","282,083.33","207,481.25"
3,2023-04,"1,471,300.00","611,339.58","367,775.00","243,564.58"
4,2023-05,"1,131,200.00","705,606.25","422,333.33","283,272.92"
5,2023-06,"1,531,500.00","833,231.25","509,666.67","323,564.58"
6,2023-07,"2,052,500.00","1,004,272.92","625,416.67","378,856.25"
7,2023-08,"1,622,000.00","1,139,439.58","707,000.00","432,439.58"
8,2023-09,"1,717,500.00","1,282,564.58","818,458.33","464,106.25"
9,2023-10,"1,323,500.00","1,392,856.25","887,333.33","505,522.92"
10,2023-11,"1,245,000.00","1,496,606.25","952,750.00","543,856.25"
11,2023-12,"3,068,727.00","1,752,333.50","1,121,833.33","630,500.17"

### Deferred Revenue Balance

In [ ]:
merged_df_2['Deferred Revenue Balance'] = pd.NA

# Initialize a variable to keep track of cumulative sum
cumulative_sum = 0

# Iterate through each row and calculate Deferred Revenue Balance
for index, row in merged_df_2.iterrows():
    # Calculate sum of future 'Revenue to Recognize' values
    cumulative_sum_future = merged_df_2.loc[index+1:, 'Revenue to Recognize'].sum()
    # Update Deferred Revenue Balance to include future sums
    merged_df_2.at[index, 'Deferred Revenue Balance'] = cumulative_sum_future


merged_df['Membership Start Date'] = merged_df['Membership Start Date'].dt.date
# Drop the 'YearMonth' column from merged_df
merged_df.drop(columns=['YearMonth'], inplace=True)

In [ ]:
merged_df_2.head(12)

,Year-Month,Monthly Invoice Total,Revenue to Recognize,"Health Nucleus - San Diego, CA","Health Nucleus-South San Francisco, CA",Deferred Revenue Balance
0,2023-01,"1,672,575.00","139,381.25","75,775.00","63,606.25","29,930,439.08"
1,2023-02,"2,123,500.00","316,339.58","164,983.33","151,356.25","29,614,099.50"
2,2023-03,"2,078,700.00","489,564.58","282,083.33","207,481.25","29,124,534.92"
3,2023-04,"1,471,300.00","611,339.58","367,775.00","243,564.58","28,513,195.33"
4,2023-05,"1,131,200.00","705,606.25","422,333.33","283,272.92","27,807,589.08"
5,2023-06,"1,531,500.00","833,231.25","509,666.67","323,564.58","26,974,357.83"
6,2023-07,"2,052,500.00","1,004,272.92","625,416.67","378,856.25","25,970,084.92"
7,2023-08,"1,622,000.00","1,139,439.58","707,000.00","432,439.58","24,830,645.33"
8,2023-09,"1,717,500.00","1,282,564.58","818,458.33","464,106.25","23,548,080.75"
9,2023-10,"1,323,500.00","1,392,856.25","887,333.33","505,522.92","22,155,224.50"
10,2023-11,"1,245,000.00","1,496,606.25","952,750.00","543,856.25","20,658,618.25"
11,2023-12,"3,068,727.00","1,752,333.50","1,121,833.33","630,500.17","18,906,284.75"

### Ad-Hoc Payments

In [ ]:
adhoc_columns = [col for col in merged_df.columns if '- ADHOC' in col]
adhoc_columns.append('Membership Location')
filtered_adhoc_payments = merged_df[adhoc_columns]
adhoc_columns_only = [col for col in adhoc_columns if col != 'Membership Location']
filtered_adhoc_payments = filtered_adhoc_payments.loc[~filtered_adhoc_payments[adhoc_columns].fillna(0).eq(0).all(axis=1)]
filtered_adhoc_payments.columns = [col.replace(' - ADHOC', '').strip() for col in filtered_adhoc_payments.columns]

# Convert column headers from "MONTH YEAR" format to "YYYY-MM" format
def convert_month_year_to_ym(col):
    try:
        return pd.to_datetime(col, format='%B %Y').strftime('%Y-%m')
    except ValueError:
        return col

filtered_adhoc_payments.columns = [convert_month_year_to_ym(col) for col in filtered_adhoc_payments.columns]

#Group by / PIVOT
filtered_adhoc_payments = filtered_adhoc_payments.groupby('Membership Location').sum()
filtered_adhoc_payments.reset_index(drop=True)
filtered_adhoc_payments = filtered_adhoc_payments.T
filtered_adhoc_payments = filtered_adhoc_payments.reset_index()
filtered_adhoc_payments = filtered_adhoc_payments.rename(columns={'index': 'Year-Month'})
filtered_adhoc_payments = filtered_adhoc_payments.rename(columns={'Health Nucleus - San Diego, CA': 'ADHOC - Health Nucleus - San Diego, CA'})
filtered_adhoc_payments = filtered_adhoc_payments.rename(columns={'Health Nucleus-South San Francisco, CA': 'ADHOC - Health Nucleus-South San Francisco, CA'})
filtered_adhoc_payments['ADHOC - Total'] = filtered_adhoc_payments['ADHOC - Health Nucleus - San Diego, CA'] + filtered_adhoc_payments['ADHOC - Health Nucleus-South San Francisco, CA']


filtered_adhoc_payments.reset_index(drop=True)

Membership Location,Year-Month,"ADHOC - Health Nucleus - San Diego, CA","ADHOC - Health Nucleus-South San Francisco, CA",ADHOC - Total
0,2024-04,14000,1500,15500
1,2024-02,1500,250,1750
2,2024-03,3500,0,3500
3,2024-05,18200,16400,34600
4,2024-06,13750,1700,15450

In [ ]:
merged_df_2 = pd.merge(merged_df_2, filtered_adhoc_payments, on =['Year-Month'], how='outer')
merged_df_2 = merged_df_2[[ #Reorder columns for simplicity
                        'Year-Month', 'Monthly Invoice Total', 'Revenue to Recognize', 
                        'Health Nucleus - San Diego, CA', 'Health Nucleus-South San Francisco, CA',
                        'Deferred Revenue Balance', 
                        #'ADHOC - Total', 'ADHOC - Health Nucleus - San Diego, CA', 'ADHOC - Health Nucleus-South San Francisco, CA' #Commenting out due to renewed understadning recognizing revenue
                        ]]

### AD-HOC Payment Dates w/ Details

In [ ]:
# # Convert payment date columns to datetime
# for i in range(1, 7):
#     date_col = f'ADHOC Payment Date {i}'
#     if date_col in merged_df.columns:
#         merged_df[date_col] = pd.to_datetime(merged_df[date_col])

# # Initialize an empty DataFrame to store the results
# adhoc_totals = pd.DataFrame()

# # Sum payment amounts grouped by YearMonth, Membership Location, and ADHOC Payment Date
# for i in range(1, 7):
#     date_col = f'ADHOC Payment Date {i}'
#     amount_col = f'ADHOC Payment Amount {i}'
#     if date_col in merged_df.columns and amount_col in merged_df.columns:
#         merged_df[f'YearMonth {i}'] = merged_df[date_col].dt.to_period('M')
#         temp_df = merged_df.groupby([f'YearMonth {i}', date_col, 'Membership Location', 'Opportunity ID', 'Account Name', 'Membership Start Date', 'Opportunity Amount', 'Total Payments Received'])[amount_col].sum().reset_index()
#         temp_df.columns = ['YearMonth', 'ADHOC Payment Date', 'Membership Location', 'Opportunity ID', 'Account Name', 'Membership Start Date', 'Opportunity Amount', 'Total Payments Received', 'Total Payment']
#         adhoc_totals = pd.concat([adhoc_totals, temp_df], ignore_index=True)

# # Convert YearMonth to string format for easier reading (optional)
# adhoc_totals['YearMonth'] = adhoc_totals['YearMonth'].astype(str)

# adhoc_totals['ADHOC Payment Date'] = pd.to_datetime(adhoc_totals['ADHOC Payment Date']).dt.date

# adhoc_totals.to_excel('adhoc.xlsx', index=False, sheet_name='Sheet1')

### Save to Excel

In [ ]:
# Get the current date in YYYY-MM-DD format
current_date = datetime.now().strftime('%Y-%m-%d')

# Specify the full path with the current date in the file name
excel_file = fr'C:\Users\cmccullough\Desktop\Revenue\revenue_report_{current_date}.xlsx'

# Create a new Excel workbook and add a worksheet
wb = Workbook()
ws = wb.active
ws.title = 'Salesforce Opportunity Data'

# Write the header
for col_num, value in enumerate(merged_df.columns.values):
    cell = ws.cell(row=1, column=col_num + 1)
    cell.value = value
    cell.font = Font(bold=True)

# Define a function to apply italic formatting to text in parentheses
def italicize_and_write(ws, row_num, col_num, text):
    parts = re.split(r'(\(.*?\))', text)
    italic_font = Font(italic=True)
    normal_font = Font(italic=False)

    cell = ws.cell(row=row_num, column=col_num)
    cell.value = ''.join(parts)  # set cell value to whole text to start

    for part in parts:
        start_pos = cell.value.find(part)
        end_pos = start_pos + len(part)
        if part.startswith('(') and part.endswith(')'):
            ws[cell.coordinate].font = italic_font
        else:
            ws[cell.coordinate].font = normal_font

# Write the data with italicized text in parentheses
for row_num, row in enumerate(merged_df.itertuples(index=False, name=None), start=2):
    for col_num, value in enumerate(row):
        cell = ws.cell(row=row_num, column=col_num + 1)
        if col_num == 0 and isinstance(value, str):  # Apply italicize function only to the first column
            italicize_and_write(ws, row_num, col_num + 1, value)
        else:
            cell.value = value

# Freeze the header row
ws.freeze_panes = 'A2'

# Adjust column widths to display entire header values and limit to maximum of 275 pixels
for col in ws.columns:
    max_length = 0
    column = col[0].column_letter  # Get the column name
    for cell in col:
        try:
            if len(str(cell.value)) > max_length:
                max_length = len(cell.value)
        except:
            pass
    adjusted_width = (max_length + 2) * 1.2  # Adjusted width formula (adjust multiplier as needed)
    max_width_pixels = 275  # Maximum width in pixels
    final_width = min(adjusted_width, max_width_pixels / 7)  # Convert pixels to Excel's character width
    ws.column_dimensions[column].width = final_width

# Color rows in alternate colors (white and light gray)
for idx, row in enumerate(ws.iter_rows(min_row=2, min_col=1, max_col=ws.max_column, values_only=False), start=2):
    if idx % 2 == 0:
        fill = PatternFill(start_color="F2F2F2", end_color="F2F2F2", fill_type="solid")  # Light gray
    else:
        fill = PatternFill(start_color="FFFFFF", end_color="FFFFFF", fill_type="solid")  # White
        
    for cell in row:  # Iterate through cells in the current row
        cell.fill = fill


# Create a new worksheet for merged_df_2
ws_merged_df_2 = wb.create_sheet(title='Invoice & Revenue Schedule')

# Write the header for merged_df_2
header_row = 1
for col_num, col_name in enumerate(merged_df_2.columns, start=1):
    cell = ws_merged_df_2.cell(row=header_row, column=col_num, value=col_name)
    cell.font = Font(bold=True)

    if col_name in ('Monthly Invoice Total','Revenue to Recognize','Health Nucleus - San Diego, CA','Health Nucleus-South San Francisco, CA','Deferred Revenue Balance'):
        fill = PatternFill(start_color='ADD8E6', end_color='ADD8E6', fill_type='solid')  # Light blue fill
        cell.fill = fill
    if col_name in ('ADHOC - Total','ADHOC - Health Nucleus - San Diego, CA','ADHOC - Health Nucleus-South San Francisco, CA'):
        fill = PatternFill(start_color='FDE9D9', end_color='FDE9D9', fill_type='solid')  # Light blue fill
        cell.fill = fill
    
# Write the data for merged_df_2
for row_num, row in enumerate(merged_df_2.values, start=header_row + 1):
    for col_num, value in enumerate(row, start=1):
        cell = ws_merged_df_2.cell(row=row_num, column=col_num, value=value)

# Freeze the header row
ws_merged_df_2.freeze_panes = 'A2'

# Adjust column widths to display entire header values and limit to maximum of 275 pixels
for col in ws_merged_df_2.columns:
    max_length = 0
    column = col[0].column_letter  # Get the column name
    for cell in col:
        try:
            if len(str(cell.value)) > max_length:
                max_length = len(str(cell.value))
        except:
            pass
    adjusted_width = (max_length + 2) * 1.2  # Adjusted width formula (adjust multiplier as needed)
    max_width_pixels = 275  # Maximum width in pixels
    final_width = min(adjusted_width, max_width_pixels / 7)  # Convert pixels to Excel's character width
    ws_merged_df_2.column_dimensions[column].width = final_width

# Color rows in alternate colors (white and light gray)
for idx, row in enumerate(ws_merged_df_2.iter_rows(min_row=header_row + 1, min_col=1, max_col=ws_merged_df_2.max_column, values_only=False), start=header_row + 1):
    if idx % 2 == 0:
        fill = PatternFill(start_color="F2F2F2", end_color="F2F2F2", fill_type="solid")  # Light gray
    else:
        fill = PatternFill(start_color="FFFFFF", end_color="FFFFFF", fill_type="solid")  # White
        
    for cell in row:  # Iterate through cells in the current row
        cell.fill = fill
        
# Add tab for Ad-hoc Payments
adhoc_totals_sheet = wb.create_sheet(title='Ad-Hoc Payments')
       
# Save the workbook
wb.save(excel_file)

print(f"Excel file '{excel_file}' saved with frozen and bold header row, adjusted column widths, and alternate row colors.")

Excel file 'C:\Users\cmccullough\Desktop\Revenue\revenue_report_2024-07-16.xlsx' saved with frozen and bold header row, adjusted column widths, and alternate row colors.

In [ ]:
print(merged_df.columns.tolist())

['Opportunity ID', 'Salesforce Opportunity ID', 'Name', 'Opportunity Stage', 'Account ID', 'Account Name', 'Account Type', 'Number of Opportunity Products', 'Membership Location', 'Prior Membership Start Date(s)', '1st Membership Start Date (IF UPDATED)', 'Membership Start Date', 'MSD - Difference in Days', 'Prior Membership Expiration Date(s)', 'Membership End Date', 'Start & End Date - Year Difference', 'Membership Start Date vs. Payment Dates', 'Opportunity Amount', 'Opportunity Term Length (Years)', 'Opportunity Term Length (Months)', 'Payment 1 Amount', 'Prior Payment 1 Values', 'Payment 1 Method', 'Payment 1 Completed Date', 'Prior Payment 1 Completed Date Values', 'Payment 2 Amount', 'Prior Payment 2 Values', 'Payment 2 Method', 'Payment 2 Completed Date', 'Prior Payment 1 Completed Date Values', 'Total Payments Received', 'Customer Deposits', 'Payment Notes', 'Payment Notes - INVOICE CREATED', 'ADHOC Payment Amount 1', 'ADHOC Payment Date 1', 'ADHOC Payment Method 1', 'ADHOC Payment Amount 2', 'ADHOC Payment Date 2', 'ADHOC Payment Method 2', 'ADHOC Payment Amount 3', 'ADHOC Payment Date 3', 'ADHOC Payment Method 3', 'ADHOC Payment Amount 4', 'ADHOC Payment Date 4', 'ADHOC Payment Method 4', 'ADHOC Payment Amount 5', 'ADHOC Payment Date 5', 'ADHOC Payment Method 5', 'ADHOC Payment Amount 6', 'ADHOC Payment Date 6', 'ADHOC Payment Method 6', 'Opportunity Deleted', 'Opportunity Last Modified Date', 'Opportunity Created Date', 'January 2023', 'February 2023', 'March 2023', 'April 2023', 'May 2023', 'June 2023', 'July 2023', 'August 2023', 'September 2023', 'October 2023', 'November 2023', 'December 2023', 'January 2024', 'February 2024', 'March 2024', 'April 2024', 'May 2024', 'June 2024', 'July 2024', 'August 2024', 'September 2024', 'October 2024', 'November 2024', 'December 2024', 'January 2025', 'February 2025', 'March 2025', 'April 2025', 'May 2025', 'June 2025', 'July 2025', 'August 2025', 'September 2025', 'October 2025', 'November 2025', 'December 2025', 'January 2026', 'February 2026', 'March 2026', 'April 2026', 'May 2026', 'June 2026', 'July 2026', 'August 2026', 'September 2026', 'October 2026', 'November 2026', 'December 2026', 'January 2027', 'February 2027', 'March 2027', 'April 2027', 'May 2027', 'June 2027', 'July 2027', 'August 2027', 'September 2027', 'October 2027', 'November 2027', 'December 2027', 'January 2028', 'February 2028', 'March 2028', 'April 2028', 'May 2028', 'June 2028', 'July 2028', 'August 2028', 'September 2028', 'October 2028', 'November 2028', 'December 2028', 'January 2029', 'February 2029', 'March 2029', 'April 2029', 'May 2029', 'June 2029', 'July 2029', 'August 2029', 'September 2029', 'October 2029', 'November 2029', 'December 2029', 'January 2030', 'February 2030', 'March 2030', 'April 2030', 'May 2030', 'June 2030', 'July 2030', 'August 2030', 'September 2030', 'October 2030', 'November 2030', 'December 2030', 'January 2031', 'February 2031', 'March 2031', 'April 2031', 'May 2031', 'June 2031', 'July 2031', 'August 2031', 'September 2031', 'October 2031', 'November 2031', 'December 2031', 'April 2024 - ADHOC', 'February 2024 - ADHOC', 'March 2024 - ADHOC', 'May 2024 - ADHOC', 'June 2024 - ADHOC']

## Salesforce Authentication

In [ ]:
from simple_salesforce import Salesforce
import pandas as pd
import re
from openpyxl import Workbook, load_workbook
from openpyxl.styles import Font, PatternFill
from openpyxl.utils import get_column_letter
from datetime import datetime, timedelta  # Import timedelta from datetime module
#Pandas display options
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.options.display.float_format = '{:,.2f}'.format


sf = Salesforce(password='SanDiego1', username='cmccullough@humanlongevity.com', organizationId='00Do0000000HVFz', security_token='sjHUWRNRMM2EjzrAHw2ljGRP')

In [ ]:
# Convert payment date columns to datetime
for i in range(1, 7):
    date_col = f'ADHOC Payment Date {i}'
    if date_col in merged_df.columns:
        merged_df[date_col] = pd.to_datetime(merged_df[date_col])

# Initialize an empty DataFrame to store the results
adhoc_totals = pd.DataFrame()

# Sum payment amounts grouped by YearMonth, Membership Location, and ADHOC Payment Date
for i in range(1, 7):
    date_col = f'ADHOC Payment Date {i}'
    amount_col = f'ADHOC Payment Amount {i}'
    if date_col in merged_df.columns and amount_col in merged_df.columns:
        merged_df[f'YearMonth {i}'] = merged_df[date_col].dt.to_period('M')
        temp_df = merged_df.groupby([f'YearMonth {i}', date_col, 'Membership Location', 'Opportunity ID', 'Account Name', 'Membership Start Date', 'Opportunity Amount', 'Total Payments Received'])[amount_col].sum().reset_index()
        temp_df.columns = ['YearMonth', 'ADHOC Payment Date', 'Membership Location', 'Opportunity ID', 'Account Name', 'Membership Start Date', 'Opportunity Amount', 'Total Payments Received', 'Total Payment']
        adhoc_totals = pd.concat([adhoc_totals, temp_df], ignore_index=True)

# Convert YearMonth to string format for easier reading (optional)
adhoc_totals['YearMonth'] = adhoc_totals['YearMonth'].astype(str)

adhoc_totals['ADHOC Payment Date'] = pd.to_datetime(adhoc_totals['ADHOC Payment Date']).dt.date

adhoc_totals.to_excel('adhoc.xlsx', index=False, sheet_name='Sheet1')

C:\Users\cmccullough\AppData\Local\Temp\ipykernel_6676\2618041549.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[f'YearMonth {i}'] = merged_df[date_col].dt.to_period('M')
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_6676\2618041549.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[f'YearMonth {i}'] = merged_df[date_col].dt.to_period('M')
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_6676\2618041549.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[f'YearMonth {i}'] = merged_df[date_col].dt.to_period('M')
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_6676\2618041549.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[f'YearMonth {i}'] = merged_df[date_col].dt.to_period('M')
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_6676\2618041549.py:18: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  adhoc_totals = pd.concat([adhoc_totals, temp_df], ignore_index=True)
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_6676\2618041549.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[f'YearMonth {i}'] = merged_df[date_col].dt.to_period('M')
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_6676\2618041549.py:18: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  adhoc_totals = pd.concat([adhoc_totals, temp_df], ignore_index=True)
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_6676\2618041549.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[f'YearMonth {i}'] = merged_df[date_col].dt.to_period('M')
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_6676\2618041549.py:18: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  adhoc_totals = pd.concat([adhoc_totals, temp_df], ignore_index=True)